
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trang đăng nhập</title>
    <link rel="stylesheet" href="~/Admin/CSS/Login.css">
</head>
<body>
    <div class="container">
        <h1>Log in </h1>
        <form action="" method="post">
            <div class="main">
                <input type="text" name="" id="" required>
                <span></span>
                <label for="">UseName</label>
            </div>
            <div class="main">
                <input type="password" name="" id="" required>
                <span></span>
                <label for="">PassWord</label>
            </div>
            <div class="pass">Don't have an account ? <a href="#">Create</a></div>
            <input type="submit" value="Log in">
            <div class="sign_up">Not a member? <a href="#">Sign up here</a></div>
        </form>
    </div>
</body>>
</html>
